@model Group_6_Final_Project.ViewModels.ScheduleViewModel


@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";
}

<br />
<h1>Movie Schedule</h1>

<div class="row">
    <div class="col-md-4">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <!--Filters-->
        <form asp-action="Index" asp-controller="Schedule" method="post">
            <div class="form-group">
                <label asp-for="SelectedTheatre" class="control-label">Theater:</label>
                <select asp-for="SelectedTheatre" asp-items="Html.GetEnumSelectList<Theatre>()" class="form-control">
                    <option selected="selected" value="">All Theaters</option>
                </select>
                <span asp-validation-for="SelectedTheatre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SelectedWeekStartDate" class="control-label">Week Start Date:</label>
                <input asp-for="SelectedWeekStartDate" class="form-control" type="date" id="weekStartDate" name="weekStartDate" min="2023-01-06" max="2024-01-03" step="7"/>
                <span asp-validation-for="SelectedWeekStartDate" class="text-danger"></span>
            </div>
            <p>
                <button type="submit" class="btn btn-danger">Filter</button>
            </p>
        </form>
    </div>

    <hr />

    <div>
        <p>Displaying @ViewBag.FilteredMovieSchedule out of @ViewBag.AllMovieSchedule Movies</p>
    </div>

    <!--Table for Schedule-->
    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Start Time</th>
                <th>Movie</th>
                <th>Theater</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var schedule in Model.Schedules)
            {
                <tr>
                    <td>@schedule.StartTime.ToString("MM-dd-yyyy")</td>
                    <td>@schedule.StartTime.ToString("hh:mm tt")</td>
                    <td>@schedule.Movie.Title</td>
                    <td>@schedule.Theatre</td>
                    <td>
                        <!-- Purchase Ticket Button -->
                        <a asp-controller="Transaction" asp-action="Create" asp-route-scheduleID="@schedule.ScheduleID" class="btn btn-danger">Buy Tickets</a>
                        <!-- Other links -->
                        <a asp-action="Details" asp-route-id="@schedule.ScheduleID">Details</a> |
                        <a asp-action="Edit" asp-route-id="@schedule.ScheduleID">Edit</a> |
                        <a asp-action="Delete" asp-route-id="@schedule.ScheduleID">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>