@model Group_6_Final_Project.Models.TransactionDetail

@{
    ViewData["Title"] = "Create";
    Layout = "_Layout";
    // Convert the enum to a list
    var seatNumbers = Enum.GetValues(typeof(SeatSelection)).Cast<SeatSelection>().ToList();
}

<h1>Create</h1>
<h4>TransactionDetail</h4>
<hr />

<div class="row">
    <div class="col-md-8">
        <form asp-action="Create" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            @* Hidden field for TransactionID *@
            @Html.HiddenFor(model => model.Transaction.TransactionID)

            <div class="form-group">
                <label class="control-label">Products:</label>
                <select name="SelectedSchedule" asp-items="ViewBag.ScheduledMovies" class="form-control"></select>
            </div>
            <div class="form-group">
                <label asp-for="NumberofTickets" class="control-label"></label>
                <input asp-for="NumberofTickets" class="form-control" />
                <span asp-validation-for="NumberofTickets" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="SchedulePrice" class="control-label"></label>
                <input asp-for="SchedulePrice" class="form-control" />
                <span asp-validation-for="SchedulePrice" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label class="control-label">Select Seats:</label>
                <div id="seatSelection">
                    <table>
                        @for (int i = 0; i < seatNumbers.Count; i++)
                        {
                            if (i % 5 == 0)
                            {
                                @:<tr>
                                }

                                @:<td class="seat" data-seat-id="@seatNumbers[i]">@seatNumbers[i]</td>


                                if ((i + 1) % 5 == 0)
                                {
                                @:</tr>
                            }
                        }
                    </table>
                </div>
                <input type="hidden" name="selectedSeats" id="selectedSeats" />
            </div>

            <div class="form-group">
                <label asp-for="PaymentMethod" class="control-label"></label>
                <select asp-for="PaymentMethod" class="form-control">
                    @foreach (var paymentMethod in Enum.GetValues(typeof(PaymentMethod)))
                    {
                        <option value="@paymentMethod">@paymentMethod</option>
                    }
                </select>
                <span asp-validation-for="PaymentMethod" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" asp-route-orderId="@Model.Transaction.TransactionID">Back to List</a>
</div>

@section Scripts {
    <script>$(document).ready(function () {
            $('.seat').click(function () {
                $(this).toggleClass('selected');
                updateSelectedSeats();
            });

            function updateSelectedSeats() {
                var selectedSeats = $('.seat.selected').map(function () {
                    return $(this).data('seat-id');
                }).get();
                $('#selectedSeats').val(selectedSeats.join(','));
            }
        });</script>
}

<style>
    .seat {
        width: 30px;
        height: 30px;
        background-color: green;
        border: 1px solid #ddd;
        cursor: pointer;
    }

        .seat.selected {
            background-color: red;
        }
</style>
