@model IEnumerable<Group_6_Final_Project.Models.TransactionDetail>

@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NumberofTickets)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SeatSelection)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MoviePrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PaymentMethod)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Transaction)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Schedule)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NumberofTickets)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SeatSelection)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MoviePrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PaymentMethod)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Transaction.TransactionID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Schedule.ScheduleID)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.TransactionDetailID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.TransactionDetailID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.TransactionDetailID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
