@model IEnumerable<Group_6_Final_Project.Models.TransactionDetail>

@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";
}

<h1>Order Details</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Movie Title
            </th>
            <th>
                Start Time
            </th>
            <th>
                Theatre
            </th>
            <th>
                Seat Selection
            </th>
            <th>
                Schedule Price
            </th>
            <th>
                Extended Price
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                @if (item.Schedule != null && item.Schedule.Movie != null)
                {
                    <td>
                        <h2>@item.Schedule.Movie.Title</h2>
                    </td>
                }
                else
                {
                    <td colspan="6">No Schedule or Movie Available</td>
                }
                <td>
                    @Html.DisplayFor(modelItem => item.Schedule.StartTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Schedule.Theatre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SeatSelection)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SchedulePrice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ExtendedPrice)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.TransactionDetailID">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@item.TransactionDetailID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
