@model Group_6_Final_Project.Models.Transaction

@{
    ViewData["Title"] = "Details";
    Layout = "_Layout";
}

<h1>Details</h1>

<div>
    <h4>Order</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AppUser.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AppUser.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TransactionNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TransactionNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TransactionDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TransactionDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TransactionNote)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TransactionNote)
        </dd>
    </dl>
</div>
<h5>Products on this Order</h5>
<table class="table table-primary">
    <tr>
        <th>Movie Title</th>
        <th>Start Time</th>
        <th>Theatre</th>
        <th>Ticket Price</th>
        <th>Seat Selection</th>
    </tr>
    @foreach (TransactionDetail od in Model.TransactionDetail)
    {
        <tr>
            <td>@Html.DisplayFor(ModelItem => od.Schedule.Movie.Title)</td>
            <td>@Html.DisplayFor(ModelItem => od.Schedule.StartTime)</td>
            <td>@Html.DisplayFor(ModelItem => od.Schedule.Theatre)</td>
            <td>@Html.DisplayFor(ModelItem => od.Schedule.Price)</td>
            <td>@Html.DisplayFor(ModelItem => od.SeatSelection)</td>
        </tr>
    }
</table>

<h5>Order Summary</h5>
<table class="table table-sm table-bordered" style="width:30%">
    <tr>
        <th colspan="2" style="text-align:center">Order Summary</th>
    </tr>
    <tr>
        <td>Order Subtotal:</td>
        <td>@Html.DisplayFor(model => model.TransactionSubtotal)</td>
    </tr>
    <tr>
        <td>Tax:</td>
        <td>@Html.DisplayFor(model => model.TransactionTax)</td>
    </tr>
    <tr>
        <td>Order Total:</td>
        <td>@Html.DisplayFor(model => model.TransactionTotal)</td>
    </tr>

</table>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.TransactionID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
