@model Group_6_Final_Project.Models.Transaction

@{
    ViewData["Title"] = "Details";
    Layout = "_Layout";
}

<h1>Details</h1>

<dd class="col-sm-10">
    @if (Model.AppUser != null)
    {
        @Html.DisplayFor(model => model.AppUser.UserName)
    }
    else
    {
        <p>AppUser is null</p>
    }
</dd>


<h5>Products on this Order</h5>
<table class="table table-primary">
    <tr>
        <th>Product Name</th>
        <th>Price</th>
        <th>Quantity</th>
    </tr>
    <!-- Other table headers... -->
</table>

<h5>Schedule Information</h5>
<dl class="row">
    <dt class="col-sm-2">
        Movie Name:
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Schedule.Movie.Title)
    </dd>
    <dt class="col-sm-2">
        Start Time:
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Schedule.StartTime)
    </dd>
    <dt class="col-sm-2">
        Theatre:
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Schedule.Theatre)
    </dd>
</dl>

<h5>Order Summary</h5>
<table class="table table-sm table-bordered" style="width:30%">
    <tr>
        <th colspan="2" style="text-align:center">Order Summary</th>
    </tr>
    <tr>
        <td>Order Subtotal:</td>
        <td>@Html.DisplayFor(model => model.TransactionSubtotal)</td>
    </tr>
    <tr>
        <td>Tax:</td>
        <td>@Html.DisplayFor(model => model.TransactionTax)</td>
    </tr>
    <tr>
        <td>Order Total:</td>
        <td>@Html.DisplayFor(model => model.TransactionTotal)</td>
    </tr>

</table>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.TransactionID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
