@model IEnumerable<Group_6_Final_Project.Models.Transaction>
@using System.Security.Claims

@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";
}

<h1>Index</h1>

<p>
    @*<a asp-action="Create">Create New</a>*@
    @*Make sure to remove the hardcoded line below*@
    <a asp-action="Create" asp-route-scheduleID="8">Create Transaction</a> 
</p>
<p>
    Current User ID: @User.Identity.Name
    Current User ID: @User.FindFirst(ClaimTypes.NameIdentifier)?.Value
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TransactionDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TransactionNote)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TransactionSubtotal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PopcornPoints)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TransactionTax)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TransactionTotal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalNumberofSeats)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PurchaseStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserID)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TransactionDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TransactionNote)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TransactionSubtotal)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PopcornPoints)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TransactionTax)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TransactionTotal)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalNumberofSeats)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PurchaseStatus)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserID)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.TransactionID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.TransactionID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.TransactionID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
